.organization-template {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main-content {
	padding: 50px;
	border-radius: 20px;
	align-self: center;
}

@media (max-width: 768px) {
	.main-content {
		padding: 20px;
	}
}
