.root {
	padding: 10px;
	margin-block: 10px;
	border: none;
	color: var(--light);
	background-color: var(--primary);
	transition: all 0.3s;
	border-radius: 5px;
	width: auto;
}

.root:hover {
	cursor: pointer;
	background-color: var(--primary);
	transform: scale(1.04);
}

.normal {
	color: var(--light);
}
